@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Parker Gunnell's Website";
}

<body>
    <br />
    <!--A picture of yourself doing something you enjoy-->
    <img src="img/ParkerHike.png" />
    <p class="caption">Hiking Squaw Peak</p>
    <!--A paragraph on what you hope to get out of this IS 413 class-->
    <p class="desc">
        I'm really excited for what we will be learning in 413 this semester! I've been interested in going into applicaiton developlment
        but I haven't had enough experience with it. I love development and this course will help me develop new skills and abilities when it comes to programming.
    </p>
    <br />
    <!--A list of the Top #3 jobs you are most interested in pursuing when you graduate-->
    <h3>Top 3 Jobs:</h3>
    <ol>
        <li>Web Developer</li>
        <li>App Developer</li>
        <li>Systems Developer</li>
    </ol>

   
</body>
