@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model PageModel

<body>
    <section class="grade_sec">
        <h2>Grade Calculator</h2>
        <h5>Enter your score for each of the grade categories</h5>
        <!--Form to collect scores from user-->
        <form class="grade_calc" method="post">
            <label>Assignments:</label>
            <input class="grade_input" id="assignments" type="number" min="0" asp-for="assignments" />
            <br />
            <label>Group Projects:</label>
            <input class="grade_input" id="group_projects" type="number" min="0" asp-for="group_projects" />
            <br />
            <label>Quizzes:</label>
            <input class="grade_input" id="quizzes" type="number" min="0" asp-for="quizzes" />
            <br />
            <label>Exams:</label>
            <input class="grade_input" id="exams" type="number" min="0" asp-for="exams" />
            <br />
            <label>Intex:</label>
            <input class="grade_input" id="intex" type="number" min="0" asp-for="intex" />
            <br /><br />
            <!--Submit button-->
            <input type="submit" value="Calculate Grade" id="submitButton"/>
            <div asp-validation-summary="All"></div>
        </form>
    </section>
</body>